.Regular      {border: 2px solid rgba(0,0,0,0.5); z-index: 1; background-color: #66bb99;}
.Annual       {border: 2px solid rgba(0,0,0,0.5); z-index: 1; background-color: #ccffcc;}
.Sick         {border: 2px solid rgba(0,0,0,0.5); z-index: 1; background-color: #ffff99;}
.CreditEarned {border: 2px solid rgba(0,0,0,0.5); z-index: 1; background-color: #ccffff;}
.CreditUsed   {border: 2px solid rgba(0,0,0,0.5); z-index: 1; background-color: #99ccff;}
.CompEarned   {border: 2px solid rgba(0,0,0,0.5); z-index: 1; background-color: #00ccff;}
.CompUsed     {border: 2px solid rgba(0,0,0,0.5); z-index: 1; background-color: #0066cc; color: white;}
.TravelEarned {border: 2px solid rgba(0,0,0,0.5); z-index: 1; background-color: #ccccff;}
.TravelUsed   {border: 2px solid rgba(0,0,0,0.5); z-index: 1; background-color: #cc99ff;}
.Overtime     {border: 2px solid rgba(0,0,0,0.5); z-index: 1; background-color: #ff7c80;}
.AwardUsed    {border: 2px solid rgba(0,0,0,0.5); z-index: 1; background-color: #00bb50;}
.AdminLeave   {border: 2px solid rgba(0,0,0,0.5); z-index: 1; background-color: #ff6600;}
.Holiday      {border: 2px solid rgba(0,0,0,0.5); z-index: 1; background-color: #444444; color: white;}

#Planner {
  width:100%;
  font-size: 16px;
}
.week {
  width:100%;
  display: grid;
  grid-template-columns: 1fr repeat( 7, 2fr );
  grid-auto-flow: column;
  grid-column-gap: 0px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 20px;
}
.week > * {
  text-align: center;
  min-height: 7px;
}
.week > div.empty {
  border: 1px solid gray;
  border-top: 1px dashed gray;
  border-bottom: none;
}
.week > div:nth-child(4n+1).empty {
  border-top: 2px solid black;
}
.week > div:nth-child(4n+3).empty {
  border-top: 2px dashed gray;
}
.DayOfWeekLabel {
  background-color: #dddddd;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  grid-row: 1/2;
  font-size: 20px;
  font-weight: bold;
}
.timeLabel {
  grid-column: 1/2;
  border-left: 1px solid gray;
  border-right: 2px solid black;
  text-align: right;
  vertical-align: top;
  padding: 1px;
  padding-right: 3px;
  z-index: 1;
}
.timeLabel > span {
  background-color: rgba(255,255,255,0.7);
  padding: 0px;
  padding-left: 2px;
}

textarea {
  width: 100%;
  height: 20rem;
}
