.entry {
  border: 2px solid rgba(0,0,0,0.5);
  z-index: 1;
  border-radius: 5px;
}

.entryDiff, .processedDiff {
  border: 2px solid rgba(128,0,0,0.75);
  background-color: rgba(180,0,0,1);
  z-index: 2;
  color: rgba(255,255,255,1);
  border-radius: 5px;
}
.processedDiff {
  justify-self: right;
}

div:hover > span.tooltip {
  display: inline;
}

#Planner {
  width:100%;
  font-size: medium;
}
.week {
  width:100%;
  display: grid;
  grid-template-columns: 1fr repeat( 7, 2fr );
  grid-auto-flow: column;
  grid-column-gap: 0px;
  margin-top: 20px;
}
.week > * {
  text-align: center;
  min-height: 0.5em;
}
.week > div {
  overflow-y: auto;
  text-overflow: ellipsis;
}
.week > div.empty {
  border: 1px solid gray;
  border-top: 1px dashed gray;
  border-bottom: none;
}
.week > div:nth-child(4n+1).empty {
  border-top: 2px solid black;
}
.week > div:nth-child(4n+3).empty {
  border-top: 2px dashed gray;
}
.DayOfWeekLabel {
  background-color: #dddddd;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  grid-row: 1/2;
  font-size: larger;
  font-weight: bold;
}
.timeLabel {
  grid-column: 1/2;
  border-left: 1px solid gray;
  border-right: 2px solid black;
  text-align: right;
  vertical-align: top;
  padding: 1px;
  padding-right: 3px;
  z-index: 1;
}
.timeLabel > span {
  background-color: rgba(255,255,255,0.7);
  padding: 0px;
  padding-left: 2px;
}

textarea {
  width: 100%;
  height: 20rem;
}

#EntryTextDiv, #ProcessedEntryTextDiv {
  width: 100%;
}

.hidden {
  display: none;
}

button {
  font-size: larger;
  clear: both;
  border-radius: 5px;
}

#DrawButton {
  font-weight: bold;
}

label {
  margin-left: 5px;
}

h1, h2 {
  text-align: center;
}

body {
  padding-bottom: 20px;
}

.error {
  color: #880000;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}

@supports (display: grid) {
  .entryDiff, .processedDiff {
    background-color: rgba(180,0,0,0.6);
    width: 5%;
  }
  .entryDiff:hover, .processedDiff:hover {
    width: 95%;
    background-color: rgba(180,0,0,0.8);
  }

  div > span.tooltip {
    display: none;
  }

  .week {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
}

@media screen and (min-width: 1000px) {
  #EntryTextDiv, #ProcessedEntryTextDiv {
    width: 49%;
    float: left;
    padding-right: 6px;
  }
  
  .hidden {
    display: block;
    visibility: hidden;
  }
}
